@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Code based on https://stackoverflow.com/a/42928296*/
.move-left.ng-hide {
    opacity: 0;
    transform: translateX(-100%);
}
.move-left.ng-hide-add, .move-left.ng-hide-remove {
    transition: all linear 0.5s;
}

.index-title {
    text-align: center;
    font-family: 'Caveat Brush', serif;
    font-size: 5vh;
    margin-top: 0;
}

.globe-container {
    animation: 1s ease-in 0s 1 opacityAnimation;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 10px;
}

.login-container {
    background-color: rgba(121, 176, 187, 0.9);
    width: 500px;
    max-width: 100vw;
    border-radius: 10px;
    box-shadow: 2px 2px;
}

.login-form-container{
    padding: 10px;
}

.login-button {
    float: right;
}