@import "index.css";
@import "home.css";
@import "root.css";

.no_margin {
    margin: 0 0 0 0 !important;
}

.no_padding {
    padding: 0 0 0 0 !important;
}

header.main-nav-bar {
    background-color: var(--main-color) !important;
    height: 10vh;
}

main.main-nav-bar {
    padding-top: 10vh;
}

.main-content-container {
    height: 90vh;
}

.padding-container {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.general_button {
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 1.25rem;
    border-radius: 20px;
    font-weight: bold !important;
    color: white;
}

.general_button:enabled:hover {
    background-color: white;
    color: black;
}

.validation-message {
    color: darkred;
    font-size: 10px;
}

.center-relative {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button a {
    color: inherit;
    text-decoration:none;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}