@()(content: Html)(implicit session: Session)

<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <title>MVC Social Network</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="icon" href="@routes.Assets.versioned("images/favicon.ico")">

        <!-- Angular Material Dependencies -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>

        <!-- Angular Material Javascript now available via Google CDN; version 1.2.1 used here -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.js"></script>


        <script src="@routes.Assets.versioned("javascripts/home.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/index.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>


        <!--Material-->
        <link href="https://unpkg.com/material-components-web@@latest/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@@latest/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body ng-controller="MainController" class="no_margin">
        <header class="mdc-top-app-bar main-nav-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <span class="mdc-top-app-bar__title">
                        <a class="href-no-decorator" href="@routes.IndexController.index()"><b>MVC Social Network</b></a>
                    </span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                    @session.get(Global.SESSION_USERNAME_KEY) match {
                        case Some(username) => {
                            <md-menu>
                                <button aria-label="Open phone interactions menu" class="no_padding material-icons mdc-top-app-bar__action-item mdc-icon-button icon_button" ng-click="openMenu($mdMenu, $event)" style="font-size: 40px">
                                    account_circle
                                </button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <b>@username</b>
                                    </md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item>
                                        <md-button ng-click="redirect('@routes.LoginController.logout()')">
                                            Logout
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        }
                        case _ => {}
                    }
                </section>
            </div>
        </header>
        <main class="main-nav-bar">
            <div>
                @content
            </div>
        </main>
    </body>
</html>
